<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/journal/journal_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    
</head>
<body>
    <!-- info fragment를 레이아웃 내에 포함시킴 -->
    <div layout:fragment="info" th:replace="~{thymeleaf/journal/info}"></div>
    <div layout:fragment="content" class="content">
    	<div class="post_list">
    		
    	</div>
    	<div class="post_list">
    		<h3>인기글</h3>
    	</div>
    	<div class="post_list">
    		<h3>최신글</h3>
    	</div>
    </div>
</body>
</html>
