<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/manage/manage_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <title>관리자 페이지</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{/js/manageBoard.js}"></script>
</head>
<body>
    <!-- info fragment를 레이아웃 내에 포함시킴 -->
    <div layout:fragment="menu" th:replace="~{thymeleaf/manage/menu}"></div>

    <div layout:fragment="content" class="content">
    	<div id="boarder_manage">
    		<h2>게시판 관리</h2>
    		<div id="boarder_list">
    		</div>
    		<div id="new_boarder_form">
    			<div class="new_boarder_element">
    				<input id="new_boarder_title" placeholder="새 게시판의 이름을 입력해 주세요.">
    				<button onclick="addNewBoarder()">추가</button>
    			</div>
    		</div>
    	</div>
    </div>
</body>
</html>
