<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>관리페이지 레이아웃</title>
	    <link th:href="@{/css/manage.css}" rel="stylesheet" />
	</head>
	<body>
	    <div layout:fragment="menu">
	        <!-- menu fragment 영역에 삽입될 내용 -->
	    </div>
	
	    <div layout:fragment="content">
	        <!-- content fragment 영역에 삽입될 내용 -->
	    </div>
	</body>
</html>
