<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/manage/manage_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <title>관리자 페이지</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{/js/managePost.js}"></script>
</head>
<body>
    <!-- info fragment를 레이아웃 내에 포함시킴 -->
    <div layout:fragment="menu" th:replace="~{thymeleaf/manage/menu}"></div>

    <div layout:fragment="content" class="content">
    	<div id="post_manage">
    		<h2>포스트 관리</h2>
    		<div id="search">
    			<input id="keyword" placeholder="검색할 제목을 입력해 주세요.">
    			<select id="boardDrop">
    				<option value='all'>전체보기</option>
      				<th:block th:each="boardDTO : ${boardDTOs}">
        				<option th:text="${boardDTO.title}" th:value="${boardDTO.id}"></option>
      				</th:block>
      			</select>
      			<button id="search_btn">검색</button>
    		</div>
    		
    		<div id="post_list">
    			
    		</div>
    		<div id="page_container">
    			
    		</div>
    	</div>
    </div>
</body>
</html>