body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px;
    background-color: rgb(250, 250, 250);
    .header{
        display: flex;
    }
    #editorContainer{
        padding: 10px;
        margin: 30px;
        background-color: white;
        width: 70%;
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-bottom: 100px;
        #title{
            margin: 5px;
            font-size: xx-large;
            border:none;
            outline: none;
            border-bottom: solid 2px gray;
        }
        .editor{
            outline: none;
            padding: 10px;
            border-radius: 5px;
            background-color: white;
        }
    }
    .footer{
        height: 50px;
    }
    .tool{
        background-color: rgba(255, 255, 255, 0.103);
        display: flex;
        padding: 20px;
        transform: translateY(-50%);
        position: fixed;
        bottom: 10px;
        opacity: 0.8;
        transition: opacity 0.2s ease-in-out;
        cursor: default;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .tool:hover{
        background-color: white;
        opacity: 1;
    }
}