<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>텍스트 편집기</title>
        <link rel="stylesheet" th:href="@{/css/createpost.css}">
    </head>
    <body>
        <div id="editorContainer">
        <form id="postForm" action="/manage/newpost" method="POST">
            <input name="title" id="title" placeholder="제목을 입력해 주세요">
            <input name="text" id="text" type="hidden">
            
            <div id="controller">
                <button type="button" onclick="document.execCommand('bold')">굵게</button>
                <button type="button" onclick="document.execCommand('italic')">기울임꼴</button>
                <button type="button" onclick="document.execCommand('underline')">밑줄</button>
                <button type="button" onclick="document.execCommand('strikeThrough')">취소선</button>
                <button type="button" onclick="document.execCommand('fontSize', false, 5)">글자 크기 5</button>
                <button type="button" onclick="document.execCommand('foreColor', false, 'red')">빨간색</button>
            </div>
            <div id="editor" class="editor" contenteditable="true">
            </div>
        </form>
        </div>
        <div class="tool">
            <button onclick="submitText()" type="submit" form="postForm">완료</button>
        </div>
         <script th:src="@{/js/textEditor.js}"></script>
    </body>
</html>
